%h1 Change Your Password

= error_messages_for :user

- form_for :user, :url => user_path(current_user), :html => {:method => :put} do |f|
  %fieldset
    %div
      %label
        %span Current
        = f.password_field :current_password
    %div
      %label
        %span New
        = f.password_field :password
    %div
      %label
        %span Confirm
        = f.password_field :password_confirmation

  %p= submit_tag 'Change Password'