- if @flow.map{|g,flow| flow}.flatten.size > 60
  %h1 Groups
  %ul
    - @flow.each do |g, flow|
      %li
        %a{:href => "#g_#{g.id}"}= g.name

- @flow.each do |g, flow|
  %a{:name => "g_#{g.id}"}
  %h2
    Flow for
    = g.name

  %table
    %thead
      %tr
        %th= @type
        %th Flow

    %tbody
      - flow.each do |f|
        %tr
          %td= link_to f[0], :action => :month_cat, :date => f[0]
          = currency_tag f[1].to_f, :td
