%ul
  %li= link_to 'Balances', :action => :balances
  %li
    = link_to 'Flow (monthly)', :action => :month_flow
    = link_to '(yearly)', :action => :year_flow
  %li= link_to "Category Reports Form", :action => :month_cat_form
  %li= link_to "Category Reports (this month)", :action => :month_cat, :date => @first_of_month
  %li= link_to "Category Reports (last month)", :action => :month_cat, :date => @first_of_prev_month
