%h1
  Showing Transaction in
  = @cats.size
  = maybe_singular(@cats.size, 'Categories')

- @cats.each do |g, totspent, totbudget, totdiff, cats|
  %h2
    Category Report for
    = g.name

  - chartable = cats.reject{|x| x[2] > 0}
  .chart= pie_chart(chartable.map{|f| f[2].abs}, chartable.map{|f| f[1]})

  %table
    %thead
      %tr
        %th Category
        %th Balance
        %th Budget
        %th Difference
    %tbody
      - cats.each do |f|
        %tr
          %td= link_to f[1], :action => :month_cat_txns, :date => "#{@year}-#{@month}-01", :cat => f[0]
          = currency_tag f[2], :td
          = currency_tag f[3], :td
          = currency_tag f[4], :td
      %tr
        %td{:colspan => 4} &nbsp;

      %tr
        %td
          %b Total
        = currency_tag totspent, :td
        = currency_tag totbudget, :td
        = currency_tag totdiff, :td
