<h1>Creating a New Allowance Task</h1>

<% form_for :allowance_task, :url => allowance_tasks_path do |f| %>

  <fieldset><legend>Source<legend>
    <div>
      <label>
        <span>Account</span>
        <select id="src_acct" name="allowance_task[from_money_account_id]">
          <%= option_groups_from_collection_for_select(
                @groups.sort, :accounts_sorted, :name, :id, :name) %>
        </select>
      </label>
    </div>
    <div>
      <label><span>Category</span>
        <select id="src_cat_list" name="allowance_task[from_category_id]">
          <option id="-1">Choose an Account</option>
        </select>
      </label>
    </div>
  </fieldset>

  <fieldset><legend>Destination<legend>
    <div>
      <label><span>User</span>
        <%= collection_select("allowance_task", "owner_id" , @users, "id", "name") %>
      </label>
    </div>
    <div>
      <label><span>Account</span>
        <select id="dest_acct" name="allowance_task[to_money_account_id]">
          <option id="-1">Choose a User</option>
        </select>
      </label>
    </div>
    <label><span>Category</span>
      <select id="dest_cat_list" name="allowance_task[to_category_id]">
        <option id="-1">Choose an Account</option>
      </select>
    </label>
  </fieldset>

  <fieldset><legend>Details</legend>
    <div>
      <label><span>Name</span><%= f.text_field :name %></label>
    </div>
    <div>
      <label><span>Amount</span><%= f.text_field :value %></label>
    </div>
    <div>
      <label><span>Frequency</span><%= f.text_field :frequency %></label>
    </div>
    <div>
      <label><span>Description</span><%= f.text_area :description, :rows => 4 %></label>
    </div>
    <div>
      <%= submit_tag 'Add Task' %>
    </div>
  </fieldset>

<% end %>

<script type="text/javascript">
  var accounts=<%= @accounts.to_json %>;
  var categories=<%= @categories.to_json %>;
  var users={
    <% @users.each do |u| -%>
      <%= u.id %>: [<%= u.groups.map(&:id).join ', ' %>],
    <% end %>
  };
  var groups = {
    <% @groups.each do |g| -%>
      <%= g.id %>: "<%= g.name %>",
    <% end %>
  };

  $('src_acct').onchange = function() {
    load_cats_for_acct($F('src_acct'), 'src_cat_list');
  }

  $('allowance_task_owner_id').onchange = function() {
    var dest=$('dest_acct');
    clear_children(dest);
    $A(users[$F('allowance_task_owner_id')]).each(function(gid) {
      var og=document.createElement('optgroup');
      og.label=groups[gid];
      $A(accounts[gid]).each(function(cat){
        var o=document.createElement("option");
        o.value=cat.id;
        o.appendChild(document.createTextNode(cat.name));
        og.appendChild(o);
      });

      dest.appendChild(og);
    });

    $('dest_acct').onchange();
  }

  $('dest_acct').onchange = function() {
    load_cats_for_acct($F('dest_acct'), 'dest_cat_list');
  }

  Event.observe(window, 'load', function() {
    $('src_acct').onchange();
    $('allowance_task_owner_id').onchange();
  });
</script>