!!! XML
!!!

%head{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
%head
  %title= @page_title
  = javascript_include_tag :defaults
  %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}

%body
  .maincontent
    - [:error, :info].select{|t| flash[t]}.each do |t|
      %div{:class => t}= flash[t]
    = yield

  - cs = (logged_in?) ? current_user.login : ''

  #footer
    - cache(:controller => 'acct', :action => 'footer', :action_suffix => cs) do
      - if logged_in?
        %dl.inline
          - current_user.groups.sort.each do |g|
            %dt= g.name
            %dd= currency_span(g.balance)
        %ul.inline
          %li= link_to 'Home', home_path
          %li= link_to 'Logout', logout_path
          %li= link_to 'Change Password', edit_user_path(@current_user)
          %li= link_to 'Created Tasks', allowance_tasks_path
        - if current_user.admin?
          %ul.inline
            %li.label Admin stuff:
            %li= link_to 'Recent', :controller => :adm, :action => :recent
            %li= link_to 'Reports', :controller => :report, :action => :index
            %li= link_to 'Users', :controller => :adm, :action => :users

    Version:
    = TREE_VERSION